* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div,
img {
  border: 1px solid black;
}
.Demo {
  height: 100px;
}
/* .boxBorder {
  height: 500px;
  background-color: red;
  padding-top: 100px;
} */
.piClock1 {
  position: relative;
  /* width: 100vh;
  height: 100vw; */
}
img {
  width: 100%;
}
.title {
  width: 550px;
  color: white;
  position: absolute;
  top: 150px;
  left: 200px;
}
.piClock2 {
    position: relative;
    /* width: 100vh;
    height: 100vw; */
  }
.title2 {
  width: 550px;
  color: white;
  position: absolute;
  top: 150px;
  left: 200px;
}
h4 {
  font-size: 24px;
  margin: 15px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  font-size: 54px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 12px 0;
}
p {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 16px 0;
}
span {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 10px 20px;
  font-size: 15px;
}
a {
  text-decoration: none;
  color: white;
}
button {
  background: transparent;
  outline: none;
  position: relative;
  border: 2px solid white;
  padding: 0 19px;
  overflow: hidden;
  border-radius: 5px;
}
